block footer 
  footer#footer.footer
    .container.pt-70.pb-40
      .row.border-bottom-black
        .col-sm-6.col-md-6
          .widget.dark
            img.mt-10.mb-20(alt='' src='/public/images/logo-wide-white.png')
            p Dedicamos a buscarle un hogar a las mascotas
            ul.mt-5
              li.m-0.pl-0.pr-10
                i.fa.fa-phone.text-theme-colored.mr-5
                a.text-gray(href='#') 85-4848-454
              li.m-0.pl-0.pr-10
                i.fa.fa-envelope-o.text-theme-colored.mr-5
                a.text-gray(href='#') Petlinkutp@gmail.com
              li.m-0.pl-0.pr-10
                i.fa.fa-globe.text-theme-colored.mr-5
                a.text-gray(href='/') www.petlink.com
        .col-sm-6.col-md-6
          .widget.dark
            h4.widget-title Useful Links
            ul.list-border
              li
                a(href='/') Petlink
              li
                a(href='/about') Acerca de
              li
                a(href='/adopta') Adopta
        //.col-sm-6.col-md-3
          .widget.dark.mb-20
            h4.widget-title Twitter Feed
            .twitter-feed.list-border.clearfix(data-username='Envato' data-count='2')
        //.col-sm-6.col-md-3
          .widget.dark
            h4.widget-title Opening Hours
            .opening-hours
              ul.list-border
                li.clearfix
                  span  Mon - Tues :  
                  .value.pull-right.flip  6.00 am - 10.00 pm 
                li.clearfix.text-white
                  span  Wednes - Thurs :
                  .value.pull-right.flip  8.00 am - 6.00 pm 
                li.clearfix
                  span  Fri : 
                  .value.pull-right.flip  3.00 pm - 8.00 pm 
                li.clearfix
                  span  Sun : 
                  .value.pull-right.flip  Closed 
                li.clearfix
                  span  Sat : 
                  .value.pull-right.flip  10.00 am - 2.00 pm 
    .footer-bottom
      .container.pt-10.pb-0
        .row
          .col-md-6.sm-text-center
            p.font-13.text-black-777.m-0 Copyright &copy;2019 Petlink. All Rights Reserved
          //.col-md-6.text-right.flip.sm-text-center
            .widget.no-border.m-0
              ul.styled-icons.icon-dark.icon-circled.icon-sm
                li
                  a(href='#')
                    i.fa.fa-facebook
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-skype
                li
                  a(href='#')
                    i.fa.fa-youtube
                li
                  a(href='#')
                    i.fa.fa-instagram
                li
                  a(href='#')
                    i.fa.fa-pinterest